/* Default format */
body {
  background: #000;
  color: #fff;
  padding: 10% 0 0 0;
}

/* Fixed banner at the top of the page */
.banner {
  background: #217083;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 0;
  position:  fixed;
  width: 100%;
  height: 20%;
}

/* Image styling */
img {
  height: 100px;
  width: 100px;
}

/* Put contact info in a columned box */
.contact {
  border: 5px solid #350060;
  border-bottom:  5px solid blue;
  border-top:  5px solid blue;
  column-count: 3;
  margin:  10%;
  padding:  1%;
}

/* Underline section headers*/
.section-header {
  text-decoration: underline;
}

/* Italisize paragraph content */
p {
  font-style: italic;
}

/* Name not italicized */
#name {
  font-style: normal;
}
