/* Default format */
body {
  background: #000000; /*Black*/
  color: #FFFFFF; /*White*/
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 2vw;
  padding-top: 12vw;
  top:  0;
  font-size: small;
}

/* Navigation bar in banner with spaced out links*/
nav{
  background-color: #217083; /*Teal*/
  display: flex;
  justify-content: space-around;
  padding: 1vw;
}

/* Navigation bar link styling */
nav a {
  background-color: #FFFFFF; /*White*/
  color: #217083; /*Teal*/
  font-weight: bold;
  padding:  1%;
  text-decoration: none;
}

/* Image styling */
img {
  display: block;
  height: 20vw;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
}

/* Italicize paragraph content */
p {
  font-style: italic;
}

/* Fixed banner at the top of the page */
.banner {
  background: #217083; /*Teal*/
  color: #FFFFFF; /*White*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  position:  fixed;
  text-align: center;
  top: 0;
  width:  100%;
}

/* Put contact info in a columned box */
.contact {
  border-bottom:  5px solid #000099; /*Blue*/
  border-left: 5px solid #350060; /*Purple*/
  border-right: 5px solid #350060; /*Purple*/
  border-top:  5px solid #000099; /*Blue*/
  column-count: 3;
  margin:  1%;
  text-align: center;
}

/* Underline section headers*/
.section-header {
  text-align: left;
  text-decoration: underline;
}

/* Make spacer invisible */
.spacer {
  color: #000000;
}

/* Un-italicize name */
#name {
  font-style: normal;
  text-align: center;
}

/* Have the contact info header span all columns */
#contact-header {
  column-span: all;
  text-align: center;
}
